<div class="cart py5">
    <div class="container my-5 py-5 z-depth-5 rounded  purple darken-3">
        <!--Section: Content-->
        <section class="dark-grey-text">

            <!-- Shopping Cart table -->
            <div class="table-responsive">

                <table class="table product-table mb-0">

                    <!-- Table head -->
                    <thead class="mdb-color lighten-5">
                        <tr>
                            <th></th>
                            <th class="font-weight-bold">
                                <strong>PRODUCTO</strong>
                            </th>
                            <th></th>
                            <th class="font-weight-bold">
                                <strong>PRECIO</strong>
                            </th>
                            <th class="font-weight-bold">
                                <strong>CANTIDAD</strong>
                            </th>
                            <th class="font-weight-bold">
                                <strong>MONTO</strong>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <!-- /.Table head -->

                    <!-- Table body -->
                    <tbody>

                        <!-- First row -->
                        <tr *ngFor="let el of cartList; let i = index">
                            <td scope="row">
                                <img [src]="imagesUrl+el.image" alt="" class="img-fluid z-depth-0">
                            </td>
                            <td class="text-white">
                                <h5 class="mt-3">
                                    <strong>{{el.title}}</strong>
                                </h5>
                                <p class="text-white">{{el.brand}}</p>
                            </td>
                            <td></td>
                            <td class="text-white">{{el.seelingPrice | currency:'MXN'}}</td>
                            <td>
                                <input #inputQuantity type="number" (change)="updateProduct(el,inputQuantity)" value="{{el.quantity}}" aria-label="Search" class="form-control" style="width: 100px">
                            </td>
                            <td class="text-white font-weight-bold">
                                <strong>{{el.monto | currency:'MXN'}}</strong>
                            </td>
                            <td>
                                <button (click)="deleteProduct(el)" type="button" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Remove item">X
                                </button>
                            </td>
                        </tr>
                        <!-- /.First row -->

                        <!-- Fourth row -->
                        <tr>
                            <td colspan="3"></td>
                            <td>
                                <h4 class="mt-2">
                                    <strong class="text-white">Total</strong>
                                </h4>
                            </td>
                            <td class="text-right text-white">
                                <h4 class="mt-2">
                                    <strong>{{amountPay | currency:'MXN'}}</strong>
                                </h4>
                            </td>
                            <td colspan="3" class="text-right">
                                <button type="button" class="btn btn-primary btn-rounded">Pagar
                                     <i class="fas fa-angle-right right"></i>
                                </button>
                            </td>
                        </tr>
                        <!-- Fourth row -->


                    </tbody>
                    <!-- /.Table body -->

                </table>

            </div>
            <!-- /.Shopping Cart table -->

        </section>
        <!--Section: Content-->


    </div>

</div>