<div class="product-main elegant-color z-depth-5">
    <h1 class="text-center d-flex justify-content-center py-3 white-text">Mis Compras</h1>
    <div class="z-depth-3 p-5 my-5 white contenedor-filtros">
        <!-- Section: Block Content -->
        <section>
            <div class="row d-flex">
                <div class="col-lg-12">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control mt-2" placeholder="Buscar por # Orden" #searchOrden>
                        <div class="input-group-append">
                            <button (click)="searchOrderPurchase(searchOrden.value)" class="btn mt-2 warning-color-dark" type="button">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <ng-select [items]="defaultBindingsList" (change)="changeByShipment()" bindLabel="name" [(ngModel)]="statusShipment">
                    </ng-select>
                </div>
            </div>
        </section>
        <!-- Section: Block Content -->
    </div>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive mb-5">
                            <table class="table user-list">
                                <thead class="purple darken-3  text-white">
                                    <tr>
                                        <th><span>No Orden</span></th>
                                        <th><span>Fecha Compra</span></th>
                                        <th><span>No Items</span></th>
                                        <th><span>Monto MXP</span></th>
                                        <th><span>Status</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let el of salesList; let i = index">
                                        <td>{{el._id}}</td>
                                        <td>{{el.date_purchase|date}}</td>
                                        <td>{{el.totalItems}}</td>
                                        <td>
                                            <code>
                                                {{el.amountPay | currency:'MXN'}}
                                            </code>
                                        </td>
                                        <td *ngIf="el.status_shipment==1">
                                            <span class="badge badge-primary">
                                                Pend. Envío
                                            </span>
                                        </td>
                                        <td *ngIf="el.status_shipment==2">
                                            <span class="badge badge-default">
                                                En Camino
                                            </span>
                                        </td>
                                        <td *ngIf="el.status_shipment==3">
                                            <span class="badge badge-success">
                                                Entregado
                                            </span>
                                        </td>
                                        <td>
                                            <button (click)="viewOrder(el._id)" type="button" class="btn btn-primary"><i class="fas fa-info"></i>&nbsp;Detalle</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation example" *ngIf="this.pagerList != ''">
                                <ul class="pagination pagination-circle pg-blue justify-content-center">
                                    <li class="page-item"><a class="page-link" (change)="onChange(pagerList.startPage)" (click)="getDataPagination(pagerList.startPage)">Primero</a></li>
                                    <li class="page-item" [ngClass]="{'active': item == pagerList.currentPage}" *ngFor="let item of pagerList.pages; let i = index">
                                        <a (click)="getDataPagination(item)" (change)="onChange(item)" class="page-link">{{item}}</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" (change)="onChange(pagerList.endPage)" (click)="getDataPagination(pagerList.endPage)">Último</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>