<section class="product-area shop-sidebar shop section py-5 white">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
                <div class="shop-sidebar">
                    <!-- Single Widget -->
                    <div class="single-widget category purple lighten-3">
                        <h3 class="title">Categorías</h3>
                        <ul class="categor-list list-group">
                            <li class="list-group-item active" [ngClass]="{'active': Category == null}" (click)="filtrarByCategory('')">
                                Todas
                            </li>
                            <li class="list-group-item" *ngFor="let item of menuCategories; let i=index " [ngClass]="{'active': Category == item.name}" (click)="filtrarByCategory(item.name)">
                                {{item.name}}
                            </li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                    <!-- Shop By Price -->
                    <div class="single-widget range purple lighten-3">
                        <h3 class="title">Shop by Price</h3>
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options" (userChange)="filtrarRango()"></ngx-slider>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/ End Shop By Price -->
                    <!-- Single Widget -->
                    <div class="single-widget category purple lighten-3">
                        <h3 class="title">Marcas</h3>

                        <ul class="categor-list list-group">
                            <li class="list-group-item" *ngFor="let item of menuBrands; let i=index" [ngClass]="{'active': Brand == item.label}" (click)="filtrarByBrand(item.label)">
                                {{item.label}}
                            </li>
                        </ul>
                    </div>
                    <!--/ End Single Widget -->
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
                <div class="row">
                    <div class="col-12">
                        <!-- Shop Top -->
                        <div class="shop-top purple lighten-3">
                            <div class="shop-shorter">
                                <div class="single-shorter">
                                    <label>Ordenar por:</label>
                                    <select (change)="filtrarByOrderBy($event.target.value)">
                                        <option value="title" selected="selected">Nombre</option>
                                        <option value="seeling_price">Precio</option>
                                    </select>
                                    <select class="ml-3" (change)="filtrarByShortByDirection($event.target.value)">
                                        <option value="ASC" selected="selected">ASC</option>
                                        <option value="DESC">DESC</option>
                                    </select>
                                </div>
                            </div>
                            <ul class="view-mode">
                                <li class="active"><a (click)="allFilters()"><i class="fas fa-search"></i></a></li>
                            </ul>
                        </div>
                        <!--/ End Shop Top -->
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of listProducts">
                        <div class="single-product">
                            <div class="product-img">
                                <a routerLink="/product-detail/{{item.id}}">
                                    <img class="default-img" [src]='imagesUrl+item.imagen' alt="#">
                                    <img class="hover-img" [src]='imagesUrl+item.imagen' alt="#">
                                </a>
                                <div class="button-head">
                                    <div class="product-action">
                                        <a data-toggle="modal" data-target="#exampleModal" title="Quick View" (click)="click_addWishList(item)" href="javascript:void(0);"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                        <a title="Wishlist" (click)="click_addWishList(item)" href="javascript:void(0);"><i class="far fa-heart"></i><span>Agregar a la lista de deseos</span></a>
                                    </div>
                                    <div class="product-action-2">
                                        <a title="Add to cart" (click)="click_addCart(item)" href="javascript:void(0);">Agregar al carrito</a>
                                    </div>
                                </div>
                            </div>
                            <div class="product-content">
                                <h3><a routerLink="/product-detail/{{item.id}}">{{item.title}}</a></h3>
                                <div class="product-price">
                                    <span>{{item.seelingPrice | currency:'MXN'}}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Product Style 1  -->