<!-- Sidebar  -->
<nav class="purple darken-3" id="sidebar">

    <div class="avatar mx-auto mb-4">
        <img [src]="imagenAvatar" class="rounded-circle img-fluid" alt="First sample avatar image">
    </div>

    <ul class="list-unstyled components">

        <li *ngFor="let item of menuSideBar; let i = index; let last = last">

            <a (click)="ocultarMenus()" *ngIf="item.isInit" [routerLink]="item.route" routerLinkActive="active">
                <i class="fas {{item.icon}}"></i>&nbsp; {{item.title}}
            </a>

            <div *ngIf="!item.isInit" class="sidebar-heading">
                {{item.title}}
            </div>

            <div *ngIf="!item.isInit" class="sidebar-subitems">
                <li *ngFor="let subitem of item.collapseItem">
                    <a (click)="ocultarMenus()" [routerLink]="subitem.route" routerLinkActive="active">
                        <i class="fas {{subitem.icon}}"></i>&nbsp; {{subitem.title}}
                    </a>
                </li>
            </div>
            <hr>
        </li>
    </ul>
</nav>