<div class="py-5 product-main">
    <div class="my-5 py-5 elegant-color z-depth-5">
        <h1 class="text-center d-flex justify-content-center py-3 white-text">Administración de Productos</h1>
        <div class="z-depth-3 p-5 my-5 white contenedor-filtros">
            <!-- Section: Block Content -->
            <section>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="md-form">
                            <input type="text" #searchCriterio (keyup.enter)="filtrarBySearch(searchCriterio.value)" class="form-control" id="search" mdbInput />
                            <label for="search">Buscar por Título</label>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 text-right">
                        <ng-select class="custom" [items]="defaultBindingsList" (change)="onChangeBrand()" [clearable]=false [(ngModel)]="selectedBrand">
                        </ng-select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-row-reverse">
                        <button type="button" class="btn purple-gradient" (click)="click_addProduct()">
                            <i class="fas fa-plus-circle"></i>&nbsp;Nuevo Prod.
                        </button>
                    </div>
                </div>

            </section>
            <!-- Section: Block Content -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive-sm table-responsive-md table-responsive-lg table-users">
                    <table class="table table-striped table-hover tabla-productos">
                        <thead class="thead-dark">
                            <tr>
                                <th *ngFor="let head of headElements; let i = index" scope="col">
                                    {{head}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let el of elements; let i = index">
                                <td>
                                    <img [src]="imagesUrl+el.imagen" width="100px" height="100px" class="img-fluid hover-shadow rounded-lg" alt="" />
                                </td>

                                <td scope="row">{{el.id}}</td>
                                <td>{{el.sku}} </td>
                                <td>{{el.title}}</td>
                                <td>{{el.brand}}</td>
                                <td>{{el.category}}</td>
                                <td>{{el.price | currency }} MXP</td>
                                <td>{{el.seelingPrice | currency}} MXP</td>
                                <td class="d-flex flex-row-reverse">
                                    <button type="button" (click)="click_updateProduct(el.id)" class="btn btn-sm btn-warning btn-rounded"><i class="fas fa-edit"></i></button>
                                    <button type="button" (click)="click_deleteProduct(el.id)" class="btn btn-sm btn-danger btn-rounded"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>