<!-- Main navigation -->
<div class="py-5 spacing-navbar">
    <div class="container-fluid mt-3 mb-5 purple-gradient">
        <!-- Full Page Intro -->
        <section class="">
            <!-- Mask & flexbox options-->
            <div class="mask d-flex justify-content-center align-items-center">
                <!-- Content -->
                <div class="container py-5 my-5">

                    <h3 class="font-weight-bold text-center white-text pb-2">Registrarte es gratis!!!</h3>
                    <p class="lead text-center white-text pt-2 mb-5">Compra productos a excelente costo</p>

                    <!--Grid row-->
                    <div class="row d-flex align-items-center justify-content-center">
                        <!--Grid column-->
                        <div class="col-md-6 col-xl-5">

                            <!--Form-->
                            <form class="text-center white" #registerForm="ngForm" (ngSubmit)="registerNewClient(registerForm)">
                                <div class="card-body z-depth-2 px-4 ">
                                    <div *ngIf="invalidRegister" class="alert alert-danger">No fue posible registrar al usuario, por favor revisa los datos sean correctos</div>

                                    <div class="md-form mt-0">
                                        <input type="text" id="nick" name="nick" ngModel class="form-control" required autofocus>
                                        <label for="inputIconEx2">Nick</label>
                                    </div>

                                    <div class="md-form mt-0">
                                        <input type="text" id="firstName" name="firstName" ngModel class="form-control" required>
                                        <label for="inputIconEx2">Nombre/s</label>
                                    </div>

                                    <div class="md-form mt-0">
                                        <input type="text" id="lastname" name="lastname" ngModel class="form-control" required>
                                        <label for="inputIconEx2">Apellido/s</label>
                                    </div>

                                    <div class="md-form mt-0">
                                        <input type="email" id="email" name="email" ngModel class="form-control" required>
                                        <label for="inputIconEx2">Correo Eletronico</label>
                                    </div>

                                    <div class="md-form mt-0">
                                        <input type="password" id="password" name="password" ngModel class="form-control" required>
                                        <label for="inputIconEx2">Contraseña</label>
                                    </div>

                                    <div class="md-form mt-0">
                                        <input type="password" id="password_repeat" name="password_repeat" ngModel class="form-control" required>
                                        <label for="inputIconEx2">Contraseña</label>
                                    </div>

                                    <div class="text-center my-3 ">
                                        <button class="btn aqua-gradient btn-block ">Registrate!!!</button>
                                    </div>
                                </div>
                            </form>
                            <!--/.Form-->
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </div>
                <!-- Content -->
            </div>
            <!-- Mask & flexbox options-->
        </section>
        <!-- Full Page Intro -->

    </div>
    <!-- Main navigation -->
</div>