<div class="product-main elegant-color z-depth-5">
    <h1 class="text-center d-flex justify-content-center py-3 white-text">Administración de Usuarios</h1>
    <div class="z-depth-3 p-5 my-5 white contenedor-filtros">
        <!-- Section: Block Content -->
        <section>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="md-form">
                        <input type="text" #searchCriterio (keyup.enter)="filtrarBySearch(searchCriterio.value)" class="form-control" id="search" mdbInput />
                        <label for="search">Buscar por Nombre</label>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 text-right">
                    <ng-select class="custom" [items]="defaultBindingsList" (change)="onChangeType()" [clearable]=false [(ngModel)]="selectedType">
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-row-reverse">
                    <button type="button" class="btn purple-gradient" (click)="click_addUser()">
                            <i class="fas fa-plus-circle"></i>&nbsp;Nuevo Usuario
                        </button>
                </div>
            </div>

        </section>
        <!-- Section: Block Content -->
    </div>
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive mb-5">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>Usuario</span></th>
                                        <th><span>Fecha creación</span></th>
                                        <th><span>Correo</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let el of listUsers; let i = index">
                                        <td>
                                            <img [src]="imagesUrl+el.imagen" alt="">
                                            <a href="#" class="user-link">{{el.firstName}} {{el.lastname}}</a>
                                            <span class="user-subhead">{{el.role}}</span>
                                        </td>
                                        <td>{{el.createDate|date}}</td>
                                        <td>
                                            <a href="#">{{el.email}}</a>
                                        </td>
                                        <td style="width: 20%;">
                                            <a (click)="deleteUser(el)" class="table-link danger">
                                                <span class="fa-stack">
                                                <i class="far fa-trash-alt fa-2x"></i>
                                            </span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>