<div class="py-5">

    <div class="container my-5 py-5 z-depth-5 purple-gradient">
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
                <!--Grid column-->
                <div class="col-md-6">
                    <!-- Default form login -->
                    <form class="text-center" autocomplete="off" [formGroup]="loginForm" (submit)="login()">
                        <div *ngIf="invalidLogin" class="alert alert-danger">Upps el usuario o la contraseña son incorrectos vuelve a intentar.</div>
                        <p class="h4 mb-4 text-white">Login:</p>
                        <!-- Email -->
                        <input type="email" id="username" name="Nick" class="form-control mb-4" formControlName="Nick" placeholder="Nick user" required autofocus>

                        <!-- Password -->
                        <input type="password" id="password" name="Password" class="form-control mb-4" formControlName="Password" placeholder="Password" required>

                        <div class="row d-flex justify-content-around">
                            <div col-lg-12>
                                <!-- Remember me -->
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="Remember" name="Remember" id="Remember">
                                    <label class="custom-control-label text-white" for="Remember">Recuerdame</label>
                                </div>
                            </div>
                            <div col-lg-12>
                                <!-- Forgot password -->
                                <a class="text-white" href="">Olvidaste tu contraseña?</a>
                            </div>
                        </div>

                        <!-- Sign in button -->
                        <button class="btn btn-info btn-block my-4" type="submit">Iniciar Sesión</button>

                        <!-- Register -->
                        <p class="text-white">Aún no eres miembro?
                            <a class="text-white" routerLink="/signup" routerLinkActive="active">Registrate</a>
                        </p>
                    </form>
                    <!-- Default form login -->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row d-flex justify-content-center py-5">

                <!--Grid column-->
                <div class="col-md-6 text-center">

                    <h4 class="font-weight-bold mb-4 text-white">¿Quieres recibir nuestras promociones?</h4>

                    <div class="input-group mb-4">
                        <input type="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-md btn-outline-default m-0 px-3 py-2 z-depth-0 waves-effect" type="submit" id="button-addon2">Submit</button>
                        </div>
                    </div>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Content-->
    </div>
</div>