<div class="py-5 product-main">
    <div class="my-5 py-5 elegant-color z-depth-5">
        <h1 class="text-center d-flex justify-content-center py-3 white-text">Administración de Categorias</h1>

        <div class="container z-depth-3 p-5 my-5 white">
            <!-- Section: Block Content -->
            <section>
                <!-- Filter Area -->
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="md-form">
                            <input type="text" #searchCriterio (keyup.enter)="filtrarBySearch(searchCriterio.value)" class="form-control" id="search" mdbInput />
                            <label for="search">Buscar por Nombre</label>
                        </div>
                    </div>
                </div>
                <!-- Filter Area -->
                <div class="col-lg-12 d-flex flex-row-reverse">
                    <button type="button" class="btn purple-gradient" (click)="click_addCategory()">
                        <i class="fas fa-plus-circle"></i>&nbsp;Nuevo Categoria.
                    </button>
                </div>
            </section>
            <!-- Section: Block Content -->
        </div>

        <div class="table-responsive-lg  table-responsive-sm table-responsive-md">
            <div class=" table-users">
                <table class="table table-striped table-hover white">
                    <thead class="thead-dark">
                        <tr>
                            <th *ngFor="let head of headElements; let i = index" scope="col">
                                {{head}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let el of elements; let i = index">
                            <td>
                                <button type="button" (click)="click_updateCategory(el.id)" class="btn btn-sm btn-warning btn-rounded"><i
                                        class="fas fa-edit"></i>
                                </button>
                                <button type="button" (click)="click_deleteCategory(el.id)" class="btn btn-sm btn-danger btn-rounded">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                            <td>
                                <img src="http://placeimg.com/250/250/people/grayscale" width="100px" height="100px" class="img-fluid hover-shadow rounded-lg" alt="" />
                            </td>
                            <td scope="row">{{el.id}}</td>
                            <td class="text-right badge badge-pill badge-default mt-3">{{el.name}} </td>
                            <td>{{el.createDate | date}}</td>
                            <td>{{el.updateDate | date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>