<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark purple darken-3 scrolling-navbar">

    <div class="container">

        <!-- Collapse button -->
        <button type="button" id="sidebarCollapse" class="btn btn-sm purple darken-3">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">
            <strong class="unique-color-dark-text"><i class="fas fa-shopping-cart"></i>GuanaMarket</strong>
        </a>
        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngFor="let item of menuProfileItems; let i=index">
                    <a class="nav-link waves-effect" [routerLink]="item.route" routerLinkActive="active"><i
                            class="fas {{item.icon}}"></i>{{item.title}}
                    </a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect" href="javascript:void(0);" routerLink="/shopping-cart" routerLinkActive="active">
                        <span class="badge red z-depth-1 mr-1">{{cartNoItems}}</span>
                        <i class="fas fa-shopping-cart"></i>
                        <span class="clearfix d-none d-sm-inline-block">Carrito</span>
                    </a>
                </li>

                <li class="dropdown" (click)="isRevise()">
                    <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">

                        <img src="http://placehold.it/50x50" class="img-circle special-img"><b class="caret"></b></a>

                    <ul class="dropdown-menu" *ngIf="!userAuthenticaded">
                        <li>
                            <a href="javascript:void(0);" routerLink="/login" routerLinkActive="active">
                                <i class="far fa-user"></i>&nbsp;Iniciar Sesión
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" routerLink="/signup" routerLinkActive="active">
                                <i class="fas fa-user-plus"></i>&nbsp;Registrate
                            </a>
                        </li>

                    </ul>
                    <ul class="dropdown-menu" *ngIf="userAuthenticaded">
                        <li><a href="javascript:void(0);" routerLink="/profile" routerLinkActive="active"><i class="fa fa-cog"></i>&nbsp;Mi Cuenta</a></li>
                        <li class="divider"></li>
                        <li><a (click)="logOut()"><i class="fas fa-sign-in-alt"></i>&nbsp;Cerrar Sesión</a></li>
                    </ul>
                </li>


            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->