<div class="py-5 product-main">
    <div class="my-5 py-5 elegant-color z-depth-5">
        <div class="d-flex justify-content-center">
            <h1 class="text-center py-3 white-text">Administración de Productos</h1>
        </div>
        <!-- Default form contact -->
        <div class="container">
            <form class="text-center border border-light p-5 white" #newProductForm="ngForm" (ngSubmit)="registerNewProduct(newProductForm)">

                <p class="h4 mb-4">Nuevo Producto</p>
                <div class="row">
                    <div class="col-lg-3">
                        <!-- SKU -->
                        <div class="md-form mt-0">
                            <input type="text" id="sku" name="sku" ngModel class="form-control" maxlength="10">
                            <label for="inputIconEx2">SKU</label>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <!-- Name -->
                        <div class="md-form mt-0">
                            <input type="text" id="title" name="title" ngModel class="form-control form-control-lg">
                            <label for="inputLGEx">Nombre</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="md-form mt-0">
                            <textarea id="description" name="description" ngModel class="md-textarea form-control" rows="3"></textarea>
                            <label for="form10">Descripción</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <!-- SKU -->
                        <div class="md-form mt-0">
                            <input type="text" id="brand" name="brand" ngModel class="form-control">
                            <label for="inputIconEx2">Marca</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- Status -->
                        <div class="md-form mt-0">
                            <input type="text" id="status" name="status" ngModel class="form-control form-control-lg">
                            <label for="inputLGEx">Status</label>
                        </div>
                    </div>
                </div>
                <div class="row py-3">
                    <div class="col-lg-12">
                        <select name='idCategory' id='idCategory' ngModel class="browser-default custom-select">
                            <option selected>Seleccione una categoria</option>
                            <option *ngFor="let item of listCategories"  value="{{item.id}}">{{item.name}}</option>
                          </select>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <!-- PRICE -->
                        <div class="md-form mt-0">
                            <input type="number" id="price" name="price" ngModel class="form-control">
                            <label for="inputIconEx2">Precio</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <!-- SEELING PRICE -->
                        <div class="md-form mt-0">
                            <input type="number" id="seelingPrice" name="seelingPrice" ngModel class="form-control form-control-lg">
                            <label for="inputLGEx">Precio de Venta</label>
                        </div>
                    </div>
                </div>

                <!-- Subject -->
                <label for="customRange2">Ranking Inicial:</label>
                <input type="range" value="1" class="custom-range" min="0" max="5" step="1" id="ranking" name="ranking" ngModel>



                <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Colocar Imagen</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>



                <div class="row pt-5">
                    <div class="col">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-info btn-block" type="submit"><i class="fas fa-save"></i>&nbsp;Guardar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <!-- Default form contact -->
    </div>
</div>