<div class="contenedor-checkout">
    <main class="mt-5 pt-4 purple-gradient  ">
        <div class="container dark-grey-text mt-5 my-5">
            <!-- Heading -->
            <h1 class="  white-text  text-center">Pasarela de Pago</h1>
            <div *ngIf="validDatos" class="alert alert-warning">Para agilizar tu compra guarda tus datos, en tu siguiente compra ya no será necesario teclearlos</div>
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-md-8 mb-4">
                    <!--Card-->
                    <div class="card">
                        <!--Card content-->
                        <form class="card-body" [formGroup]="checkoutForm" (submit)="registerCheckout()">
                            <h5 class="card-header blue-gradient  card white-text text-center py-2">Datos de Envío</h5>
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-md-6 ">
                                    <!--firstName-->
                                    <div class="md-form">
                                        <input type="text" id="checkoutName" formControlName="checkoutName" name="checkoutName" class="form-control mb-4" placeholder="Nombre">
                                    </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6">
                                    <!--lastName-->
                                    <div class="md-form">
                                        <input type="text" id="checkoutApellidos" formControlName="checkoutApellidos" name="checkoutApellidos" placeholder="Apellidos" class="form-control" />

                                    </div>
                                </div>
                                <!--Grid column-->
                            </div>
                            <!--Grid row-->

                            <!--email-->
                            <div class="md-form mb-5">
                                <input type="text" id="checkoutemail" name="checkoutemail" formControlName="checkoutemail" class="form-control" placeholder="" />
                                <label for="checkoutemail" class="active">Email </label>
                            </div>

                            <!--address-->
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-12 mb-4">
                                    <label for="checkoutaddress" class="active">Domicilio</label>
                                    <input type="text" id="checkoutaddress" name="checkoutaddress" formControlName="checkoutaddress" class="form-control" placeholder="Calle, #, # Int/Edificio, Colonia" />
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
                                    <label for="checkoutphone" class="active">Teléfono</label>
                                    <input type="text" id="checkoutphone" name="checkoutphone" formControlName="checkoutphone" class="form-control" maxlength="10" placeholder="Numero telefónico" />
                                </div>
                            </div>

                            <!--Grid row-->
                            <div class="row">
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <label for="state">Estado</label>
                                    <select class="custom-select d-block w-100" formControlName="checkoutState" id="checkoutState" name="checkoutState">
                  <option value="">Selecciona...</option>
                  <option value="Aguascalientes"> Aguascalientes </option>
                  <option value="Baja California"> Baja California</option>
                  <option value="Baja California Sur"> Baja California Sur</option>
                  <option value="Campeche">Campeche</option>
                  <option value="Chiapas">Chiapas</option>
                  <option value="Chihuahua">Chihuahua</option>
                  <option value="CDMX">Ciudad de México</option>
                  <option value="Coahuila">Coahuila</option>
                  <option value="Colima">Colima</option>
                  <option value="Durango">Durango</option>
                  <option value="Estado de México">Estado de México</option>
                  <option value="Guanajuato">Guanajuato</option>
                  <option value="Guerrero">Guerrero</option>
                  <option value="Hidalgo">Hidalgo</option>
                  <option value="Jalisco">Jalisco</option>
                  <option value="Michoacán">Michoacán</option>
                  <option value="Morelos">Morelos</option>
                  <option value="Nayarit">Nayarit</option>
                  <option value="Nuevo León">Nuevo León</option>
                  <option value="Oaxaca">Oaxaca</option>
                  <option value="Puebla">Puebla</option>
                  <option value="Querétaro">Querétaro</option>
                  <option value="Quintana Roo">Quintana Roo</option>
                  <option value="San Luis Potosí">San Luis Potosí</option>
                  <option value="Sinaloa">Sinaloa</option>
                  <option value="Sonora">Sonora</option>
                  <option value="Tabasco">Tabasco</option>
                  <option value="Tamaulipas">Tamaulipas</option>
                  <option value="Tlaxcala">Tlaxcala</option>
                  <option value="Veracruz">Veracruz</option>
                  <option value="Yucatán">Yucatán</option>
                  <option value="Zacatecas">Zacatecas</option>
                </select>
                                    <div class="invalid-feedback">
                                        Por favor, selecciona un estado válido.
                                    </div>
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-12 mb-4">
                                    <label for="country">Municipio</label>
                                    <input type="text" id="checkoutCity" formControlName="checkoutCity" name="checkoutCity" placeholder="Municipio" class="form-control" />
                                </div>
                                <!--Grid column-->
                                <!--Grid column-->
                                <div class="col-lg-4 col-md-6 mb-4">
                                    <label for="zip">Código Postal</label>
                                    <input type="text" class="form-control" formControlName="checkoutZip" id="checkoutZip" name="checkoutZip" placeholder="" required="" />
                                    <div class="invalid-feedback">
                                        Codigo Postal, Requerido.
                                    </div>
                                </div>
                                <!--Grid column-->
                                <div class="col-lg-12 col-md-12 mb-12 pb-5">
                                    <label for="country">País</label>
                                    <input type="text" class="form-control" formControlName="checkoutCountry" id="checkoutCountry" name="checkoutCountry" placeholder="" required="" />
                                    <div class="invalid-feedback">
                                        Pais, Requerido.
                                    </div>
                                </div>

                            </div>

                            <!--Grid row-->
                            <h5 class="card-header aqua-gradient white-text text-center py-2">Datos de Pago</h5>
                            <hr>
                            <div class="d-block my-3">
                                <div class="custom-control custom-radio">
                                    <input id="credit" name="paymentMethod" formControlName="paymentMethod" value="credit" type="radio" class="custom-control-input" checked required>
                                    <label class="custom-control-label" for="credit"><i class="fab fa-cc-visa"></i>&nbsp;Tarjeta de Crédito</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="debit" name="paymentMethod" formControlName="paymentMethod" value="debit" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="debit"><i class="fas fa-credit-card"></i>&nbsp;Tarjeta de Debito</label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input id="paypal" name="paymentMethod" formControlName="paymentMethod" value="paypal" type="radio" class="custom-control-input" required>
                                    <label class="custom-control-label" for="paypal"><i class="fab fa-paypal"></i>&nbsp;Paypal</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label for="cc-name">Nombre del titular</label>
                                    <input type="text" class="form-control" formControlName="cc_name" id="cc_name" name="cc_name" placeholder="" required>
                                    <small class="text-muted">nombre completo de contiene la tarjeta</small>
                                    <div class="invalid-feedback">
                                        Nombre de la tarjeta es requerido
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="cc-number">Número de tarjeta</label>
                                    <input type="text" class="form-control" formControlName="cc_number" id="cc_number" name="cc_number" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Número de tarjeta requerido
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 mb-3">
                                    <label for="cc-expiration">Expiración</label>
                                    <input type="text" class="form-control" id="cc_expiration" formControlName="cc_expiration" name="cc_expiration" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Fecha de expiración requerida
                                    </div>
                                </div>
                                <div class="col-md-3 mb-3">
                                    <label for="cc-cvv">CVV</label>
                                    <input type="text" class="form-control" id="cc_cvv" formControlName="cc_cvv" name="cc_cvv" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Código de seguridad requerido
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-4">

                            <button [disabled]="checkoutForm.invalid" class="btn btn-primary btn-lg btn-block" type="submit">Realizar Pago</button>

                        </form>


                        <div class="col-lg-12 col-md-12 mb-12 pb-5">
                            <div class="d-flex justify-content-center" *ngIf="validDatos">
                                <button (click)="updateDatosEnvio()" class="btn btn-primary btn-lg btn-block"><i class="fas fa-edit"></i>&nbsp;Actualizar Datos</button>
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4 card">

                    <!-- Heading -->
                    <h5 class="d-flex card-header justify-content-between align-items-center mt-4 mb-3  btn-indigo py-2 ">
                        <span class="white-text">Tu carrito</span>
                        <span class="badge badge-secondary badge-pill">{{totalItems}}</span>
                    </h5>

                    <!-- Cart -->
                    <ul class="list-group mb-3 z-depth-1">
                        <li *ngFor="let el of cartList; let i = index" class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{el.title}}</h6>
                                <small class="text-muted">{{el.brand}}</small>
                            </div>
                            <span class="text-muted">{{el.monto | currency:'MXN'}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-light">
                            <div class="text-success">
                                <h6 class="my-0">Codigo de promoción</h6>
                                <small>CODE</small>
                            </div>
                            <span class="text-success">{{code_acept}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Total ($) {{amountPay |  currency:'MXN'}}</span>
                            <strong>{{newPay | currency:'MXN'}}</strong>
                        </li>
                    </ul>
                    <!-- Cart -->

                    <!-- Promo code -->
                    <form [formGroup]="CodePromoForm" (submit)="applyCode()" class="card p-2">
                        <div class="input-group">
                            <input required type="text" formControlName="code_promotion" class="form-control" placeholder="Codigo Promoción" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button [disabled]="CodePromoForm.invalid" class="btn btn-secondary btn-md waves-effect m-0" type="submit">Aplicar</button>
                            </div>
                        </div>
                    </form>
                    <!-- Promo code -->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>

    </main>
</div>